extends layout

block content
  .container
    .card
      h1 Hello there, I'm Tatjana.
      img.img-circle(src="/images/logotat.png", width="100px", alt="Tatjana Stenzel")
      p Herzlich Willkommen!

    .card
      img(src="/images/1.png", alt="Image 1")

    .card
      p beispielfoto

    .card
      p beispielfoto

    .card
      h2 Kontakt
      ul.list-inline
        li
          a(href="https://www.instagram.com/tatjana_s.fotografie/", target="_blank")
            i#insta.fa-brands.fa-instagram
        li
          a(href="https://www.instagram.com/tatjana_s.fotografie/", target="_blank")
            i.fa-solid.fa-square-envelope
