doctype html
html
  head
    title TS Fotografie
    meta(charset="UTF-8", description="Tatjana Schäffner Fotografie", name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v6.1.2/css/all.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap", rel="stylesheet")

  body
    block content
