body {
  font-family: 'Noto Serif JP', serif;
  font-size: 16px;
  background-color: #fafafa;
  color: #5e605e;
  margin: 0;
  padding: 50px;
}

/* .container{
  width: 800px;
  margin: 20px;
} */

.img-circle{
  border-radius: 50%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #858c84;
  font-weight: 600;
  font-size: 16px;
}

/* Media queries */
@media(max-width: 1200px){

}

@media(max-width: 992px) {
  body{
    padding:30px;
  }
}

@media(max-width: 768px) {
  body{
    padding:20px;
  }
}

@media(max-width: 576px) {
  body{
    padding:10px;
  }
}
